<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>社員情報メンテナンス</title>
</head>

<script>
	function updateDialog(){
		if(!window.confirm("更新しますか？")){
			return;
			}else{
			 const button = document.getElementById('updateButton');
			 button.setAttribute('form', 'update');
			 form.submit();
			}
			

	}
	
</script>

<body style="background-color:lightgreen; margin: auto;">

    <h1  style="text-align:center;">■社員情報メンテナンス</h1><br>



	
	<form id="update" th:action="@{/update}" th:method="POST" style="margin-right:10% ;">
	   <table th:each="shain : ${shainList}" style="margin-left:30% ; float: left;" >
	    <tr>
		<td>社員ID : <span name="shainId" th:text="${shain.shainId}"></span></td>		
		</tr>
        <tr>        
		<td>社員名 : <input type="text" name="shainName" th:value="${shain.shainName}" style="margin-top:1em;"></td>
	    </tr>
	    <tr>
		<td>Eメールアドレス:<input type="text" name="emailAddress" th:value="${shain.email}" style="margin-top:1em;"></td>
		</tr>
  
       </table>
       </br></br></br></br></br>
       <div style="text-align: center; margin-left:40% ;">
	    <button id="updateButton" onclick="updateDialog()" name="update" style=" background-color:red; color:ghostwhite; border-radius:25%;">更新</button>
	    <button type="submit" name="backPage" form="update" style=" background-color:orange; color:ghostwhite; border-radius:25%;">戻る</button>
	   </div>
       
    </form>
        
        
		
 	 

</body>

</html>