<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://mybatis.org/schema/mybatis-spring
        http://mybatis.org/schema/mybatis-spring-1.2.xsd">

    <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"></mvc:annotation-driven>
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
      <property name="favorPathExtension" value="false"></property>
      <property name="ignoreAcceptHeader" value="false"></property>
    </bean>
    
    <!-- @Autowiredアノテーションを有効にする -->
    <context:annotation-config></context:annotation-config>
    
    <!-- コンポーネントスキャン -->
    <!-- コントローラが認識されてなかったので追加 -->
    <context:component-scan base-package="com.seiken_soft"></context:component-scan>
    <context:component-scan base-package="com.seiken_soft.controller"></context:component-scan>
    <context:component-scan base-package="com.seiken_soft.model"></context:component-scan>
    <context:component-scan base-package="com.seiken_soft.model.impl"></context:component-scan>
    <!-- 
    <context:component-scan base-package="com.seiken_soft.form"></context:component-scan>
    -->

    <!-- Thymeleaf テンプレートリゾルバの設定 -->
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
      <!-- テンプレートファイルのrootパス(ここでは、/webapps直下となる)-->
      <property name="prefix" value="/WEB-INF/templates/"></property>
      <!-- テンプレートファイルの拡張子(jspでも良いが単体でブラウザに表示できる便利さから htmlを採用する) -->
      <property name="suffix" value=".html"></property>
      <!-- DocType はHTML5　決まりごと(HTML4では動きません！) -->
      <property name="templateMode" value="HTML5"></property>
      <property name="cacheable" value="false"></property>
    </bean>

    <!-- Thymeleafテンプレートエンジンの設定 -->
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
      <!-- 上で定義した templateResolverに依存する -->
      <property name="enableSpringELCompiler" value="true"></property>
      <property name="templateResolver" ref="templateResolver"></property>
    </bean>

    <!-- Thymeleaf View Resolverの設定 -->
    <!-- 記載が漏れていたため認識されていなかったので mvc:view-resolversを追加 -->
    <mvc:view-resolvers>
      <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <!-- 上で定義したtemplateEngineに依存する -->
        <property name="templateEngine" ref="templateEngine"></property>
        <!-- 文字エンコードを指定（無いと、文字化けが発生する） -->
        <property name="characterEncoding" value="UTF-8"></property>
        <property name="order" value="1"></property>
      </bean>
    </mvc:view-resolvers>

    <!-- Default Servlet -->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
    
    <!-- メッセージ管理  -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
      <property name="basenames">
        <list>
          <value>i18n/application-messages</value>
        </list>
      </property>
    </bean>

    <!-- Static Resources -->
    <mvc:resources mapping="/resources/**" location="/resources" cache-period="#{60 * 60}"></mvc:resources>
    
    <!-- MySQL DataSource（MySQLが未設定なのでここは後で変更） -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
      <property name="url" value="jdbc:mysql://localhost:3306/Lesson02DB?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=GMT&amp;useUnicode=yes&amp;characterEncoding=UTF-8"></property>
      <property name="username" value="root"></property>
      <property name="password" value="sunadaru4562"></property>
      <property name="connection.autoCommit" value="false"></property>
    </bean>
    
    <!-- トランザクションマネージャー -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <!-- トランザクション境界を設定 -->
    <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"></tx:annotation-driven>

    <context:property-placeholder location="classpath:*.properties"></context:property-placeholder>

</beans>